@model UserProfile
@{
    ViewData["Title"] = "FormActionTagHelper";
    int counter = 1;
}

<div class="alert alert-success">
    <h3>@(counter++) .Submit提交至Controller / Action</h3>
</div>
<form method="post">
    <input asp-for="Id" placeholder="輸入你的Id號碼"><br><br>
    <input asp-for="Name" placeholder="輸入你的名字"><br><br>
    <button asp-controller="Person" asp-action="PostData">提交資料</button>&emsp;
    <input type="submit" value="Submit" asp-controller="Person" asp-action="QueryPersonalData">
</form>
<br>
<div class="alert alert-success"><h3>@(counter++) .Submit提交至Route路由 -- Attribute Route</h3></div>
<form method="post">
    <input asp-for="Id" placeholder="輸入你的Id號碼"><br><br>
    <input asp-for="Name" placeholder="輸入你的名字"><br><br>
    <button asp-route="PersonalData">提交資料</button>&emsp;
    <input type="submit" value="Submit" asp-route="PersonalData">&emsp;
    <input type="image" src="/image/submit.png" height="60" alt="" asp-route="PersonalData">
</form>
<br>
<div class="alert alert-success"><h3>@(counter++) .Submit提交至Route路由 -- Convention Route</h3></div>
<form method="post">
    <input asp-for="Id" placeholder="輸入你的Id號碼"><br><br>
    <input asp-for="Name" placeholder="輸入你的名字"><br><br>
    <button asp-route="UserInfo">提交資料</button>&emsp;
    <input type="submit" value="Submit" asp-route="UserInfo">&emsp;
    <input type="image" src="/image/submit.png" height="60" alt="" asp-route="UserInfo">
</form>

