@model FeedBackViewModel
@{
    ViewData["Title"] = "ValidationTagHelper";
}

<form asp-controller="TagHelpers" asp-action="ValidationTagHelper" method="post">
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email">
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Opinion"></label>
        <textarea asp-for="Opinion" rows="4" cols="40"></textarea>
        <span asp-validation-for="Opinion" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">送出</button>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div><br>
    @Html.ValidationMessage("ErrorReport",new {@class = "text-danger"})
</form>