@{
    ViewData["Title"] = "About";
}

<h2>I'm Home/About</h2>

<a asp-controller="Home" asp-action="Index">NO element ! goto Home/Index</a><br>
<!a asp-controller="Home" asp-action="Index">add element ! goto Home/Index</a!>